.main-logo{
    background: url(../../assets/icons/logo.png);
    background-repeat: no-repeat;
    background-size: 7.81rem 4.38rem;
    width: 7.81rem;
    height: 4.38rem;
    margin: 0 auto;
}
.main-top-logo{
    padding-top: 2.25rem;
    display: flex;
    width: 100%;
}