.main-authentication-form{
    margin: 0 auto;
    max-width: 37.5rem;
    margin-top: 6.56rem;
}
.authentication-form-container{
    padding: 0 1rem 0 1rem;
    display: grid;
    grid-row-gap: 1.31rem;
}
.authentication-form-container-child{
    display: grid;
}
.main-authentication-action{
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.authentication-input{
    background: #FFFFFF;
    border: 1px solid #DCE2EE;
    height: 1.13rem;
    padding: 1rem;
    border-radius: .2rem;
    color: #A8B4C4;
    outline: none;
}
.primary-action-button{
    background: #3B48EE;
    box-shadow: 0 3px 6px 0 rgba(59,72,238,0.30);
    border-radius: 4px;
    width: 12.63rem;
    height: 3.2rem;
    border: .2rem;
    color: #FFFFFF;
    font-size: 1rem;
    margin: 0 auto;
    outline: none;
}
.primary-action-button:active{
    background: rgb(37, 49, 214);
}
.invalid-fild-alert{
    font-family: Helvetica, Arial, sans-serif;
    color: rgb(243, 24, 24);
    font-size: .8rem;
    padding: .6rem 0 .6rem 0;
}
.invalid-input-alert{
    border: 1px solid rgb(243, 24, 24);
}
.welcome-authentication-box{
    width: 100%;
    font-size: 2rem;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
}
.welcome-authentication-box-controls{
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
    width: 100%;
    font-size: .8rem;
}
.button-link{
    background: #FFFFFF;
    border: 0;
    outline: none;
}
.button-link:hover{
    cursor: pointer;
}
.login-error-alert{
    width: 100%;
    text-align: center;
}
