<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AllTargets.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Data.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>IntegrationAuthClientTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>IntegrationUseCaseTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Keychain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Main.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Networking.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Presenter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>UserInterface.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Validator.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50075B06248C1653008E9FE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50075B1B248C1655008E9FE6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5009020A2488669D0072DF16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5040C84A248DF7D20039CCFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5040C852248DF7D20039CCFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5063EA8E248B366C00828A1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>506F61A42488215100BA2578</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>507769D124881A320036886D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50E034D0248BF10C00FFBA4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81505D612483F8D8000B3431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81505D692483F8D8000B3431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81A68B0D2482B5BC00F8C50C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81A68B1A2482BDDC00F8C50C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81A68B222482BDDC00F8C50C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
